<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/createPI.css">
    <title>Create PI</title>
</head>
<body class="p-5">
    <h1 class="h1">Create PI</h1>

    <form action="/api/interest" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" placeholder="Insert the name" class="form-control">
        </div>

        <div class="mb-3">
            <label for="details" class="form-label">Details:</label>
            <input type="text" name="details" id="details" placeholder="Insert the details" class="form-control">
        </div>
        
        <div>
            <b>Coordinates</b>
            <div class="row">
                <div class="col mb-3">
                    <label for="lat" class="form-label">Latitude:</label>
                    <input type="number" name="lat" id="lat" placeholder="Insert the latitude" class="form-control">
                </div>
                <div class="col mb-3">
                    <label for="lng" class="form-label">Longitude:</label>
                    <input type="number" name="lng" id="lng" placeholder="Insert the longitude" class="form-control">
                </div>
            </div>
        </div>

        <button type="reset" class="btn btn-danger">Clear form</button>
        <button type="submit" class="btn btn-primary ms-3">Submit</button>
    </form>
</body>
</html>